[2018-02-06 17:08] ThunderMikey opened #1 "need "!" token for picture embedding"
EXCLAMATION

[2018-02-06 18:41] #1 closed

[2018-02-06 18:44] ymherklotz opened #3 "ParseObj specification"
Ok I have cleaned up the types a bit. I think parseobj should only contain the top level elements, like I think I put them down, then the other specification is done outside of ParseObj. Otherwise I think it looks fine now. You can look through the [Github Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) to see if there should be something that should be added to the typ

[2018-02-07 00:04] ThunderMikey commented on #3
https://github.com/ymherklotz/FMark/blob/master/FMark/Types.fs#L12
We couldn't use `Format` because it is an F# keyword.
@ymherklotz

[2018-02-11 14:18] ymherklotz commented on #3
Ahh really? Aha ok I'll change it back.

[2018-02-17 19:38] ThunderMikey opened #9 "Frmt type needed"
[code]
I need `Frmt` to include styling info in `ParsedObj`, so that the HTML generator can know what to style.

[2018-02-17 20:39] ymherklotz commented on #9
In master, I have replaced them by different types completely. I think this is a better type definition, if you make it recursive in the ParsedObj. This is because InlinedCode cannot be true while all the others are true, and Italic can have bold inside of it or vice versa.

Are you ok with that?

[2018-02-17 20:59] ymherklotz commented on #9
I think that for now though, we should just assume that we can't have bold and italic at the same time and use the token types that I have set in `master`. We can fix it later when we bring everything together later.

[2018-02-19 00:30] #9 closed

[2018-02-19 00:31] ThunderMikey opened #11 "COLON Token needed for table alignment"
see this https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables

[2018-02-19 10:56] ps-george commented on #11
Mike I need to create some Types. I'll parse a list of lines into a list of Rows (Row is a list of Cells). So you just need to pass to my function a list of lines and I'll remove the pipes to separate each line into individual Cells. I can also parse the COLONs. Each Cell will contain a Token list and can have a property for alignment (e.g. right-aligned). I'll write that into the type file today.

[2018-02-19 10:56] ymherklotz commented on #11
Pull request #11 fixes it

[2018-02-19 11:07] ymherklotz commented on #11
@ps-george Can you then commit the types to the `types` branch, then merge everything into master when everyone is happy with them?

[2018-02-19 12:41] #11 closed

[2018-02-19 12:47] ThunderMikey opened #12 "DOT Token needed"
@ymherklotz In one of the past commits, you deleted `DOT`, however `NUMBER DOT SPACE(>=1)` form an ordered list
[code]

1. 5
2.    4
5. 44
6.5

[2018-02-19 14:21] ThunderMikey opened #14 "return SPACE as they are?"
@ymherklotz  Would you return `I   am`  as `[LITERAL("I"); SPACE(4); LITERAL("am") ]` in this case?

[2018-02-19 14:27] ymherklotz commented on #14
So for spaces, I only return them if they are at the start of the line I think, but please tell me if you would prefer me to do it that way.

So `I am` would be `[LITERAL "I am"].

[2018-02-19 14:30] ymherklotz commented on #14
Is it because of #12 that you need the `WHITESPACE size:int` literal? I can do it like that if you prefer.

[2018-02-19 14:33] ymherklotz opened #16 "Tokenizer and Parser"
How do you want to structure the parser? If I should return whitespace as well, then it may make more sense for me to literally return every token, and not even create tokens like `STRONG`, because you can then make them recursive. Do you want to to drop those tokens and just add the minimum tokens possible?

[2018-02-19 15:19] ThunderMikey commented on #14
Grouping literal together makes life a lot easier for me. :)

I think returning WHITESPACE as they were is the way to go, considering `# heading` and `#heading` problem mentioned on FB Messenger.

Just to make sure,
[code]
would be `[WHITESPACE(2); LITERAL("I am"); WHITESPACE(1); EMPHASIS("something else"); DOT]`?

[2018-02-19 15:30] ymherklotz commented on #14
Ok sure! But in that case it will be harder to solve #12 no?

And why do you need the whitespace after the `I am`?

[2018-02-19 16:19] Qieerb opened #17 "CARET token for footnotes, and some format clarification"
I'd like to use `[^1]` to indicate a footnote
It can be a literal or a number inside
This should have something like
`[LSBRA;CARET;NUMBER(1);RSBRA]`.

[code]
I assume this will become something like
[code]
It will be parsed to a list of Citations (`int*Line` tuples).

[2018-02-19 16:25] ymherklotz commented on #17
Yeah that works, will add the CARET token now.

[2018-02-19 16:31] ymherklotz commented on #12
@ThunderMikey I can add a `DOTNUM` Token which would only match when there is a number, a dot and then a space. This would fix it. Otherwise I have no problem adding back the `DOT` Token, but then that wouldn't fix the issue above. Tell me what you prefer.

[2018-02-19 17:18] #17 closed

[2018-02-19 17:24] ThunderMikey commented on #12
By adding `DOT` Token, I can match pattern `NUMBER :: DOT :: SPACE _ :: toks'` to be the case for ordered list in my program.

[2018-02-19 17:33] ThunderMikey commented on #16
I prefer minimum tokens.

I think `WHITESPACE` is essential for Markdown parsing. `1.1` and `1. 1` have different `ParsedObj` structures because of the `WHITESPACE`.

If `STRONG` is a `Token`, then the lexer is doing some sort of parsing as well.

[2018-02-19 17:40] Qieerb commented on #16
`WHITESPACE` is nice to have
`#1.4` is just a string, while `# 1.4` is a title

[2018-02-19 17:47] ThunderMikey opened #19 "Frmted WordLst redefinition"
`type WordLst = | Strong of WordLst | Emphasis of WordLst | Literal of string list`

I was suggested by @ymherklotz , we can have nested strong and emphasis. In this way, we can also include formatting information.

[2018-02-19 17:47] ymherklotz commented on #16
@Qieerb I can do that with regex though, # will only be returned when it is a valid header.

Are there any other times WHITESPACE would be beneficial?

[2018-02-19 17:59] ThunderMikey commented on #16
@ymherklotz  Is it true that `WHITESPACE` will only be returned when it is syntactically necessary?

One of the cases I can think of is
[code]

This is first line with two spaces at the end.
This is second line.

So having two spaces at the line.

[2018-02-19 18:05] ymherklotz commented on #16
@ThunderMikey You are right, that doesn't really work. Would it be better like in list 2 above? Not return whitespace if it is between two words?

[2018-02-19 18:07] #3 closed

[2018-02-19 18:11] ThunderMikey commented on #16
@ymherklotz IMO, list 1 is the ideal lexer, but you won't be able to write much code for it I guess. So list 2 is probably the best way to do it.

[2018-02-19 18:24] ymherklotz commented on #19
@ThunderMikey @Qieerb Can one of you also redo the types that I will remove from `Token`, such as `EMPHASIS`? I would maybe suggest splitting up `ParseObj` into `Inline` and `Paragraph`, as those are two different levels.

[2018-02-19 18:36] #16 closed

[2018-02-20 10:31] #12 closed

[2018-02-20 10:32] #14 closed

[2018-02-20 10:32] #19 closed

[2018-02-20 10:35] ymherklotz opened #22 "Missing Monospaced inline elment"
In the `ParsedObj`, or the `TFrmtdString`, there is no monospaced format, such as `` `askdskjd` ``.

[2018-02-20 12:42] Qieerb commented on #22
Err I'm not sure how to put the fix up into master or seek verification for it. Please help.

[2018-02-20 13:39] #22 closed

[2018-03-04 14:32] ymherklotz opened #34 "Logger"
Functional, monadic logger implemented in F# and as purely functional as possible.

[2018-03-04 14:36] ymherklotz opened #35 "Look into feasibility of GUI"
We want to add a GUI and editor for our markdown processor.

[2018-03-04 14:37] ymherklotz opened #36 "HTML generation"
Generate HTML from the markdown parser, so that we can visualise the markdown in a browser. This will make FMark at least useable.

[2018-03-04 14:40] ymherklotz opened #37 "HTML passthrough"
This is an improvement to the parser. Currently, when we write html in the markdown, it will still parse the text between the html tags, which it should not do. For example,
[code]
should just pass through the parser and not be formatted at all.

What do you think about that though?

[2018-03-04 14:47] ymherklotz opened #38 "Command line Interface"
Add a CLI so that the GUI can call it with the specific flags. This will be the main way to interact with FMark, whatever the GUI framework is.

[2018-03-04 14:52] ymherklotz commented on #38
The options to implement are:
- `-l` / `--loglevel`: set the loglevel ('DEBUG', 'INFO', 'WARNING', 'ERROR').
- `-o` / `--output`: name the output file.
- `--format`: name the output format, by default: `html`.

[2018-03-04 16:49] ps-george commented on #35
- [ ] Will look into how simple it is to create an Atom plugin with transpiled F#->Javascript code.

[2018-03-04 16:54] ps-george opened #39 "Why is language in .travis.yml csharp?"
[code]

[2018-03-04 19:33] ymherklotz commented on #39
Because fsharp doesn't exist, and csharp sets up dotnet for us.

[2018-03-04 19:33] #39 closed

[2018-03-04 19:35] ymherklotz commented on #38
@ps-george `--input` can just be the last argument right? just like `gcc -o out in` -> `fmark -o out in`. But if you prefer we can keep `--input`

[2018-03-04 19:58] ps-george commented on #38
Think I've got it so all the following are valid `fmark -i in -o out` or  `fmark -o out in` or `result > fmark -o out -s` (-s for stdin, )

[2018-03-05 00:33] ThunderMikey commented on #37
I think it is feasible, since HTML tags are easy to `match`.
I can just put all the HTML string into `Literal`.

[2018-03-05 09:59] ymherklotz opened #44 "Reworking Types"
We may have to rework the Types to make HTMLgen easier. What changes were you thinking of @ps-george ?

[2018-03-05 11:29] ThunderMikey opened #45 "Implement list support in parser"

[2018-03-05 11:30] Qieerb opened #46 "Integrate line parsing between two parsers"
Main and preparser have overlapping functions parsing formatted strings.

[2018-03-05 11:34] ThunderMikey commented on #44
Cells should be defined as `TLine`, instead of `Token list` @ps-george
[Table type](https://github.com/ymherklotz/FMark/blob/bf54da9758a0a6a032ce79a51d2000d4448bf36e/FMark/Types.fs#L41)

[2018-03-05 11:38] Qieerb opened #47 "Combine header and footer preparsers"
New preparser to return record of two `ParsedObj lists` and one `Token list`.

[2018-03-05 13:00] ps-george commented on #44
Good idea - Marklac will return Cells with Token list but then we can run a parse over each cell to get PCells which have TLine?

Similar to how I hacked it, but a bit nicer!

[2018-03-05 13:03] ps-george commented on #44
@ThunderMikey PreTable is no longer used after my changes and now it represents tokens for an invalid table. So could do with a name change (or even we can remove it since it's just a token list list). However, we need to do a full parse of those tokens *without* the TableMatch.

[2018-03-05 15:06] ps-george commented on #44
Closing Issue because it's so non-specific.

[2018-03-05 15:06] #44 closed

[2018-03-05 15:10] ps-george opened #49 "Parser: Parse invalid tables as normal markdown (without recursing down TableMatch)"
@ThunderMikey PreTable is no longer used after my changes and now it represents tokens for an invalid table. So could do with a name change (or even we can remove it since it's just a token list list). However, we need to do a full parse of those tokens without TableMatch (because that would just infinitely recurse).

[2018-03-05 15:31] ps-george opened #51 "StackOverflow expection can be triggered in Parser module"
Things that can cause StackOverflow:
- [x] Square brackets `] or [`
- [x] Exclamation mark `!`
- [x] Rounded brackets `( or )`
- [x] Unclosed asterisk `*`
- [x] Unclosed underscore `_`
- [x] Single backtick `
- [x] Less than sym `>`

[2018-03-05 15:42] ps-george commented on #49
Fixed by #48

[2018-03-07 13:24] ps-george commented on #35
Doing VS Code, may do Atom after.

[2018-03-07 13:24] #35 closed

[2018-03-07 14:05] #49 closed

[2018-03-07 14:10] ps-george opened #59 "Markdown generator"
ParsedObj -> GF Markdown

[2018-03-07 14:28] ps-george commented on #51
- [ ] Square brackets
- [ ] Exclamation mark
- [ ] Rounded brackets

[2018-03-07 14:31] #34 closed

[2018-03-07 14:33] #46 closed

[2018-03-07 14:42] ps-george opened #61 "Mathjax"

[2018-03-07 14:44] ymherklotz commented on #61
https://docs.mathjax.org/en/latest/start.html

[code]

[2018-03-07 15:00] Qieerb opened #62 "Citations for ToCite"
support for reference + at least two different styles

[2018-03-07 15:06] Qieerb opened #63 "TOC syntax"
a TOC token should indicate where to build a table of content
TOC token + full header list + max depth -> TOC?
should be easy using List.filter for depth?

[2018-03-07 15:16] Qieerb commented on #62
change COLON to COMMA as well

[2018-03-07 15:18] ymherklotz opened #64 "Links Broken"
Fix links in main [README](/README.md).

[2018-03-07 15:19] ymherklotz opened #65 "Write beautiful readme's"
Write readmes for all modules and one general main readme.

# Individual READMEs:
- [x] Preprocessor (Need to add new features e.g. include, nested macro, mention error using same args) @ymherklotz
- [x] TOCite (References, Citations, TOC) formats and function @Qieerb
- [x] Markalc @ps-george

# Main README
- [x] How to use:
    - [x] Command Line interface @ps-george
    - [x] FMark plugin (@ymhe

[2018-03-07 15:53] fexter-svk opened #67 "Bitcoin mining"
Maybe also add an option to mine bitcoin in the background?

[2018-03-07 15:55] #67 closed

[2018-03-07 15:55] ps-george commented on #64
Fixed.

[2018-03-07 15:55] #64 closed

[2018-03-07 15:58] ps-george opened #68 "Plugin for VS Code"
- [x] Syntax Highlighting
- [x] Render HTML (not live)
- [x] Live preview

[2018-03-07 16:10] ThunderMikey commented on #63
You mean this ?
https://github.com/ymherklotz/FMark/blob/9a3dede2eb82ae588735a619ca23c70ba39bb28e/FMark/src/Types.fs#L55

[2018-03-07 16:18] Qieerb commented on #63
I guess you can use this as output of the main parser and input of HTMLgen.

My output is a `THeader list` of every header in the markdown, and a `Token list` to indicate where all the headers and TOC's are, you can use these in your parser to make them into `ContentTable` of desired depth, and pass it to HTMLgen.

https://github.com/ymherklotz/FMark/blob/9a3dede2eb82ae588735a619ca23c70ba39bb28e/F

[2018-03-07 17:55] Qieerb opened #70 "Emphasis with Preparser is broken"
[code]
works when they shouldn't.

[2018-03-07 17:56] Qieerb commented on #70
Should be easy fix since Mike's parser already does this ok

[2018-03-08 11:11] fexter-svk commented on #67
Why closed?

[2018-03-08 15:12] Qieerb commented on #62
Harvard style now supported but forced.
Soon to add another style + a syntax to choose between the options.

[2018-03-08 17:48] ps-george opened #77 "single BACKTICK causes incorrect output from Parser"

[2018-03-08 17:49] ps-george commented on #51
List of characters so far which trigger this: "!";"[";"]";"(";")";"╝";"╔";"║";">";":";"<";"╚";"╗"

[2018-03-08 18:24] ThunderMikey commented on #63
Ah, cool!

[2018-03-08 19:12] Qieerb opened #79 "Footnote type change broke HTMLgen"
Changing type of Footer from `int*TLine` to `ID*TLine` broke HTML generated for footers.
`ID` is DU of `int | string` to accommodate both references and simple footnotes.

I fixed everything else that I could and pushed them into [this branch](https://github.com/ymherklotz/FMark/tree/zifanMergeTest).

Here is the [Travis log](https://travis-ci.org/ymherklotz/FMark/builds/350971013).

[2018-03-09 10:40] #59 closed

[2018-03-09 10:41] ps-george commented on #59
Could be better, but basic functionality is enough to do property based tests.

[2018-03-09 10:42] #77 closed

[2018-03-09 10:48] ps-george commented on #70
Unclosed emphasis parses incorrectly also - couldn't you merge this kind of parsing into the Parser or is that not possible?

[2018-03-09 11:07] ThunderMikey commented on #36
I am stuck with `strToc` function. All my work is in `htmlgenimpl` branch.

Since I have already been working on this for three days, and it's not working out, it's probably good to hand this to someone else while I move to bug fixes in the parser.

All you need to do is to convert `Ttoc` to `string` of HTML list. This function should be independent from the rest functions in `HTMLGen.fs`. You can

[2018-03-09 11:40] ThunderMikey commented on #79
#81

It should have been fixed.

Is it true, that both `int` and `string` in the `ID` DU are unique across the entire markdown? I use the `ID` directly for linking in HTML.

[2018-03-09 12:41] ThunderMikey opened #82 "file name change caused problems on Windows"
Apparently, @Qieerb tried to rename `TOCitetest.fs`  to `TOCiteTest.fs`.

This causes git on Windows to malfunction.

The way I can think of is merging this change to every branch, then delete local repo. Finally, clone the repo again.

[2018-03-09 13:16] Qieerb commented on #82
I can just change the name back to `TOCitetest.fs` in my branch. I think it was a mistake when I was doing `git mv` to merge after the "big move".

[2018-03-09 13:20] Qieerb commented on #70
This is my original intention. It was issue #46 but it was closed without fixing as it was deemed unnecessary. Now that the formatting parsing is much better in the Parser than in the Preparser, I think I'll do the merging.

[2018-03-09 14:52] #82 closed

[2018-03-09 14:58] #79 closed

[2018-03-09 15:04] ps-george commented on #79
@Qieerb To avoid this next time, always merge htmlgen into the branch you're going to PR and check that it works before submitting the PR.

[2018-03-09 22:58] #47 closed

[2018-03-10 00:28] ps-george commented on #36
@ThunderMikey was it just Ttoc -> string that needed doing?

[2018-03-10 00:29] ps-george commented on #45
This is done, right?

[2018-03-10 00:32] ps-george commented on #38
Not sure how to set the log level from CLI, since you'd have to initialise the logger in the earliest included file (so that the logger level is set globally across all parts), but then you only know what the level will be when the top level function is called.

If the logger had a change state function, we could initialise the logger in Shared.fs (or even in Logger.fs to reduce dependency), and t

[2018-03-10 00:37] ymherklotz commented on #38
Yeah I had already implemented that but took it away, you just have to make it mutable

[2018-03-10 00:37] ymherklotz commented on #38
I can implement the command line option if you want thoigh

[2018-03-10 00:44] ps-george commented on #38
Yeah it's really messy at the moment to initialise the logger in every file you use it, and then all the different loggers have different levels that they print out for.

Not very functional but I think we need it to be mutable, and sure 👍

[2018-03-10 18:50] ps-george commented on #51
Probably caused by recursive active pattern with no base case

[2018-03-10 23:59] ymherklotz commented on #37
This has now been done with #86 in the Lexer, just needs a bit cleaning but it works.

[2018-03-10 23:59] #37 closed

[2018-03-11 17:18] Qieerb commented on #62
Both Chicago and Harvard supported. Pick styles by writing `%%Style= Chicago` at the beginning of the document. If not specified, defaults to Harvard.
Next step: Implement date formatting with input `date= yyyy-mm-dd`.
Should be able to close the issue after that.

[2018-03-11 21:33] Qieerb commented on #70
Merged under PR #90

[2018-03-11 21:33] #70 closed

[2018-03-11 21:33] #62 closed

[2018-03-11 21:35] Qieerb opened #91 "Better date support for references"
Add support for rendering dates under different reference styles.

[2018-03-11 21:46] ThunderMikey commented on #45
No. :(

[2018-03-11 22:06] ps-george commented on #45
Ah ok, HTMLGen for lists is done but no detection yet, I see.

[2018-03-11 23:43] #51 closed

[2018-03-12 00:55] ymherklotz commented on #68
Finished the plugin, now lives in [FMark-vscode](https://github.com/ymherklotz/FMark-vscode).

[2018-03-12 00:55] #68 closed

[2018-03-12 12:27] ps-george opened #93 "Parser error in parse item"
![image](https://user-images.githubusercontent.com/17267419/37283137-ce14e070-25ee-11e8-93c7-dd688126f25b.png)

This 'catch-all' gets triggered by an empty line or a line with only whitespace in it. I'm trying a fix for this now.

[2018-03-12 12:35] ThunderMikey commented on #93
`PickoutParagraph` is meant to be *catch-all*, but it does not in this case.

[2018-03-12 12:58] ps-george commented on #93
Okay, I have fixed the error by not letting lines that are only whitespace/endlines into parseItem. Perhaps it would be better to address the paragraph so that it does catch-all, but right now it is working so not necessary.

[2018-03-12 13:04] ps-george commented on #93
I think I have fixed this issue outside of parseItem by not letting any lists of tokens which are just whitespace or endlines into that function. Perhaps it would be better to also fix PickoutParagraph but it is no longer necessary.

[2018-03-12 13:04] #93 closed

[2018-03-12 13:44] ps-george opened #98 "Incorrect parsing for headers and paragraphs"
[code]

## Should render to:
paragraph1
# header
paragraph2

## With FMark it renders to:
`paragraph1# Helloparagraph2`

[2018-03-12 14:00] ps-george commented on #98
Also:

# Text on newlines should appear like this:
line1
line2

line3

# FMark renders like this
line1line2

line3

[2018-03-12 14:02] ps-george commented on #98
## Although, some markdown previews render:
[code]
as
line1 line2
line3

[2018-03-12 14:27] ps-george commented on #98
Going to leave the header behaviour, it is the same as pandoc (write in the spec) that this is desired behaviour.

@ymherklotz will fix the other issue to emulate Common mark.

[2018-03-12 16:30] ps-george opened #99 "Markalc unable to set number of decimal points"
|This|is|FMark|
|---|---|---|
|=5|=3|=SUM{[1,0]:[1,1]}|
|=0|=0|=AVG{[1,0]:[1,2]}|

The AVG appears as 5.333333333333333, would be nice to be able to choose how many decimal places somehow.

[2018-03-12 16:42] ThunderMikey commented on #98
#101 fixed the markdown newline issue.

now

[code]
would be rendered as

line1 line2
line3

[2018-03-12 16:48] ps-george commented on #98
Do you mean:

line1 line2

line3

?

[2018-03-12 16:49] ThunderMikey commented on #98
Yeah, two paragraphs, basically.

[2018-03-12 16:52] ps-george commented on #98
Perfect!

[2018-03-12 16:52] #98 closed

[2018-03-12 16:55] ThunderMikey commented on #98
Neither GFM or [that](http://jbt.github.io/markdown-editor/) has this behaviour, so we should stick to what we have.

[2018-03-12 17:04] ThunderMikey commented on #36
We'll need to

* HTML `head` generation for including page meta data and CSS
* find a good CSS framework to style stuff, I reckon Bootstrap to start with
* read markdown filename and put it into HTML title
* maybe more

[2018-03-12 17:13] ps-george opened #102 "Add include file support"
I am writing a function to read from file for FMarkFable. Should be simple to use this function in the to copy the contents of that file into the current file during preprocessing, using syntax like:

{% include "filename" %}

[2018-03-12 17:43] ThunderMikey commented on #36
#104 adds a top level function `genHTML` which will generate a fully working HTML document.

[2018-03-12 18:32] #91 closed

[2018-03-12 19:26] Qieerb opened #108 "Parser Preparser integration"
Preparser is almost complete and ready to use by the main parser. Currently the parser parses headers by itself but this means no relative linking for TOC and other nice things.

Preparser takes the token list and pull out all the tokens that are headers or footers, and reinsert a identifying token back `HEADER of int` and `FOOTER of ID`. It then builds a THeader list and a ParsedObj list, which c

[2018-03-12 19:36] Qieerb commented on #108
w.r.t to the TOC and #63, the current syntax should be:

`%%TOC depth=3, excludes=["Appendix","Acknowledgement"]`, tokenised to `[TOC; WHITESPACE 1; LITERAL "depth"; EQUAL; NUMBER "3"; ...]`, then in the parser with the `THeader list` from the preparser, we should be able to build a table of content that works.

[2018-03-12 23:34] ps-george opened #109 "Cannot read property of '1' undefined error with macros in tables and particular formatting"
![image](https://user-images.githubusercontent.com/17267419/37314759-cacbb9fc-264d-11e8-95ae-be2cc9b05836.png)

[code]

Further debugging has pinpointed the error to table parsing. Will create some tests in Markalc and Parser to further pinpoint cause of the error.

[2018-03-12 23:45] ps-george commented on #109
Bug in Markalc

[2018-03-13 00:24] ps-george commented on #109
Fixed by #110

[2018-03-13 00:24] #109 closed

[2018-03-13 00:37] ThunderMikey commented on #108
@Qieerb What's the complete Token list for this example? Because it seems the list does not have everything, e.g. WHITESPACE or LITERAL "%%".

[2018-03-13 00:53] Qieerb commented on #108
@ThunderMikey I suppose we can just drop the whole tokenising TOC idea then.
Keeping the parsing done at the token level minimal is a good thing.
Parsing `[PERCENT; PERCENT; LITERAL "TOC"; WHITESPACE (a when a>0); ...]` as table of contents should work as well.

[2018-03-13 12:52] ps-george opened #111 "Nested macro stackOverflow if using the same variable names"
[code]

workaround:
[code]

[2018-03-13 12:53] ps-george opened #112 "Detection of circular references in file includes with relative paths"

[2018-03-13 12:53] #102 closed

[2018-03-13 18:03] ymherklotz commented on #108
@Qieerb @ThunderMikey If you are still thinking about this, I can easily add a TOC token that matches %%TOC and automatically makes it a TOC token.

[2018-03-14 14:34] ps-george commented on #99
Implemented in #118 , follow expression with a comma followed by the number of decimal places.

e.g.
[code]

[2018-03-14 14:34] #99 closed

[2018-03-15 01:38] ThunderMikey commented on #45
#120 finished

[2018-03-15 14:38] ps-george opened #124 "Input causes FMark to hang unexpectedly"
`<a><`

[2018-03-15 14:45] ps-george opened #125 "Incorrect include url crashes FMark"
- [x] Should check if file exists before trying to open the file.
- [x] On Windows file includes put in a weird double c drive "C:\c:\"

[2018-03-15 14:46] ps-george commented on #124
Could be something to do with html passthrough

[2018-03-15 15:30] #63 closed

[2018-03-15 19:00] ps-george opened #128 "Start of file token and appropriate changes in preparser to match a header at the beginning of the file"

[2018-03-16 00:19] #45 closed

[2018-03-16 00:19] #36 closed

[2018-03-16 00:20] ps-george commented on #38
Implemented mutable globLog, can change log level from command line :D

[2018-03-16 00:20] #38 closed

[2018-03-16 00:21] ps-george opened #130 "List parsing always starts at 1."
e.g.

4. hi
5. hello

will render as:

1. hi
2. hello

(caught by property based testing :D )

[2018-03-16 00:32] ThunderMikey commented on #130
Type change is needed if we want to carry extra info in TList. Wouldn't be too complicated.

[2018-03-16 10:02] ps-george commented on #130
Requires this extra attribute
[code]

[2018-03-16 14:00] Qieerb opened #131 "support for footer in header"
[code]

this doesn't work

[2018-03-16 15:13] ps-george commented on #128
Done by adding two ENDLINE tokens to the start of stream given to parser #133

[2018-03-16 15:13] #128 closed

[2018-03-16 17:01] ps-george commented on #61
Implemented in #134

[2018-03-16 17:01] #61 closed

[2018-03-16 17:03] ps-george commented on #65
Stuff to add:
- [ ] Design choices on spec e.g. `\n\n# header\n` is a header, otherwise it is not.
- [ ] Mathjax requires double $: `$$ $$`

[2018-03-16 17:06] ps-george opened #135 "Mathjax latex newline symbol difficult to write (e.g. for matrices)"
https://xkcd.com/1638/

Requires an elder backslash (5 backslashes):
[code]

[2018-03-16 17:53] ps-george commented on #135
Instead of using `\\\\\` can use `\newline`. e.g.:

[code]

[2018-03-16 17:53] #135 closed

[2018-03-16 18:10] ps-george commented on #125
Fixed by #137

[2018-03-16 18:10] #125 closed

[2018-03-16 20:37] ThunderMikey commented on #131
I am going to:
- [ ] create a new `InlineElement` type: `| Ref of HyperText: string * ID: string`
- [ ] make HTMLGen for this `Ref` type to render footers and references correctly.

[2018-03-17 16:36] ps-george opened #140 "Built-in HTML preview for vs-code doesn't support anchor hyperlinks"
[code]

<a href="#pos1">Link to header.</a>
<h1 id="pos1">header</h1>

[2018-03-17 17:06] ps-george opened #141 "Double asterisk/underscore doesn't work"
#139

`**hi** ` renders as \*\*hi\*\* instead of **hi**.

`__hi__ ` renders as \_\_hi\_\_ instead of __hi__.

`_hi_ ` renders as \_hi\_ instead of _hi_.

[2018-03-17 17:14] ThunderMikey commented on #141
I forgot to open a pull request for these implementations. #139 does them.

[2018-03-17 17:28] ps-george commented on #141
![image](https://user-images.githubusercontent.com/17267419/37558221-86c971ae-2a08-11e8-9c45-4ed90fa2f0ae.png)
With the latest htmlgen (after #139 was merged)

[2018-03-17 17:44] ps-george commented on #141
#142

[2018-03-17 17:44] #141 closed

[2018-03-17 17:49] ps-george opened #143 "Syntax highlighting for emphasis"
Syntax highlighting for emphasis is a bit off:
- [ ] Triple asterisk
- [ ] Triple underscore
- [ ] Only highlight underscores if they are surrounded by a space on either side `[ ]_hi_[ ]`,`[ ]__hi__[ ]` or `[ ]___hi___[ ]`

[2018-03-17 18:34] ps-george commented on #111
Need to write about this in readme

[2018-03-17 18:35] ps-george commented on #112
- [ ] Need to write about his in readme

[2018-03-17 18:36] ps-george commented on #140
- [ ] Write in readme; suggest use of 'export to html'

[2018-03-17 18:41] ps-george opened #144 "Add beautifier to HTML output"
- [ ] (Plugin) Add HTML source code preview (beautified) to plugin @ymherklotz
- [x] (Plugin) Add HTML generate beautified file to plugin (optional)

[2018-03-17 18:45] ps-george commented on #140
Note: The non-default html previewers for VS code are poor (bad rating/not many downloads) and quite ugly (don't have any theming knowledge).

They do support anchor linking. Hopefully in future VS Code will fix anchor linking.

[2018-03-17 18:50] ps-george commented on #144
Live generated beautified HTML file would be useful, since you could open the file in a browser and view it as it updates.
Functions:
- `Open Preview`
- `Open Source Code Preview`
- `Toggle HTML File Generation`

[2018-03-19 15:19] ps-george opened #145 "strTOC needs completely rewriting"
Output style is correct
[code]
However, there are some fundamental bugs in the implementation.

Problems starts when dealing with more than one H3. Should be:

1. H1
    1. H2
         1. H3
         2. H3

But instead is:

![image](https://user-images.githubusercontent.com/17267419/37604402-d124d884-2b88-11e8-8397-4af515b60255.png)

[2018-03-19 15:41] ThunderMikey commented on #145
Parsing header list is similar to parsing lines of list, maybe we can modify parseList

[2018-03-19 16:32] Qieerb commented on #145
@ThunderMikey  I think the problem is with the strTOC here,
[code]
I added this test in HTMLGenTester and it reproduces the error as above

[2018-03-19 16:44] ps-george commented on #145
@ThunderMikey good idea to use the logic from parseList, it is similar, except here we already have the list and depth so should be easier. I'll leave it to you.

[2018-03-19 18:57] ThunderMikey commented on #145
@Qieerb George helped me write the current strTOC. Apparently, it has got some issues. Thank you for the test case!

@ps-george I will start to work on hlp after Wednesday noon. If someone wants to give it a try, then go for it.

[2018-03-19 19:04] ps-george commented on #145
I wrote the current strToc but it's very poorly written and probably impossible to fix bugs so better off rewriting with the knowledge you gained making parseList. :+1: Wednesday noon is good.

[2018-03-21 17:27] ps-george commented on #108
Is this still not done?

[2018-03-21 17:38] #108 closed

[2018-03-21 18:35] ps-george opened #146 "Links"
Are they supported?

[Google.](http://www.google.co.uk)

![image](https://user-images.githubusercontent.com/17267419/37730077-a51028de-2d36-11e8-88bc-5387a850bb8b.png)

[2018-03-21 18:37] ps-george commented on #145
I will take a look at this again.

[2018-03-21 18:38] ThunderMikey commented on #146
No. Forgot to add...

[2018-03-21 18:39] ps-george commented on #146
Which part is not done?

[2018-03-21 18:40] ThunderMikey commented on #146
parser

[2018-03-21 19:48] Qieerb commented on #131
I will:
-[ ] Change preParser so that it parses footers first
-[ ] Make header parsing accept parsed footers
-[ ] Test

[2018-03-21 20:36] ThunderMikey commented on #146
#147 Done

[2018-03-21 21:05] ps-george commented on #146
Works well, nice! Unfortunately doesn't work with VS Code but the html generated is correct.

[2018-03-21 21:05] #146 closed

[2018-03-21 21:05] ps-george commented on #145
@ThunderMikey you doing this? You mentioned a strTocFix branch 👍

[2018-03-21 21:05] ThunderMikey commented on #146
Why simple links does not work with VS Code?

PS. You should be revising ML!

[2018-03-21 21:12] ps-george commented on #124
This seemed to stop happening, but then found this error:

Unable to open 'FMark Preview': Invalid regular expression: /^<([a-zA-Z]+)\s*.*?(?:\/>|>)/: Stack overflow.

[2018-03-21 21:12] ThunderMikey commented on #145
#149 Yes. Done.

[2018-03-21 21:57] ps-george commented on #124
Fixed by removing the `(?: ... )`, @ymherklotz would that break anything?

[2018-03-21 22:00] #131 closed

[2018-03-21 22:13] #145 closed

[2018-03-21 22:21] ps-george commented on #124
#150

[2018-03-21 22:54] ThunderMikey commented on #130
#152 Good to go.

[2018-03-22 10:26] ThunderMikey commented on #65
- [ ] `[ ]_em_[ ]`, `[ ]__a strong__[ ]`, or `[ ]_em_$`, `[ ]__a strong__$`

[2018-03-22 10:42] ps-george commented on #144
See [My fork](https://github.com/ps-george/FMark-vscode), branch create-html for the progress I made so far. Got it printing to an HTML file but no control over the filename.

For some reason sometimes the {{ include test.fmark }} stopped working so watch out for whether they work or not. I just updated VS code which could be the cause.

[2018-03-22 10:43] ps-george commented on #144
Don't think it's worth the effort making the CLI output pretty html, because you can just pass it through another CL tool to prettify it, so removed that from this issue.

[2018-03-22 12:10] #130 closed

[2018-03-22 14:09] Qieerb opened #155 "%%TOC depth does nothing"
`%%TOC depth = 2` does not actually limit depth

[2018-03-22 14:12] Qieerb opened #156 "References should not be superscripted inline"
Footnotes should be, but References should not.

[2018-03-22 14:29] #155 closed

[2018-03-22 14:30] ThunderMikey commented on #155
It has to be %%TOC depth=2

[2018-03-22 14:44] Qieerb commented on #156
https://github.com/ymherklotz/FMark/blob/htmlgen/FMark/src/Common/HTMLGen/HTMLGen.fs#L30-L34

In HTMLGen footnotes and citations are no longer differentiated, so maybe changing these lines to match id would be the easiest (but kind of hacky)

[2018-03-22 18:03] ps-george commented on #144
Done but no control over html file name, just makes it in the same dir as the .fmark file. No HTML source code preview yet.

[2018-03-22 19:30] ps-george commented on #156
https://github.com/ymherklotz/FMark/blob/htmlgen/FMark/src/Common/HTMLGen/HTMLGen.fs#L183-L184

Could just change it here. Remove sup tag and only add it for footnotes.

[2018-03-22 19:37] ps-george commented on #156
Might be neatest to differentiate between footnotes and citations.

[2018-03-22 19:39] Qieerb commented on #156
@ps-george L183-184 are for end of document footers not inline stuff.

[2018-03-22 19:47] ps-george commented on #156
I figured. Think it's best to have different types.
[code]

[2018-03-22 19:47] ps-george commented on #156
I will do it now

[2018-03-22 19:55] Qieerb commented on #156
@ps-george great thanks

for naming consistency maybe call the two some variations of footnote and citation.

[2018-03-22 20:13] ps-george commented on #156
Will do.

[2018-03-22 21:08] #156 closed

[2018-03-22 21:09] ps-george opened #159 "Implement TOC option for excluding headers with list of names"

[2018-03-22 21:11] ps-george commented on #144
Source code preview is not really necessary.

[2018-03-22 21:11] #144 closed

[2018-03-22 21:12] ps-george commented on #140
Not our problem. FMark works fine.

[2018-03-22 21:12] #140 closed

[2018-03-22 22:15] ThunderMikey commented on #159
I suggest changing the exclusion syntax to `%%TOC excludes=[Appendix ; Acknowledgement]` because there is no `QUOTATION` Token. Also the semicolon to separate header names to make parsing easier.

[2018-03-22 22:31] ps-george opened #160 "Go through and clean up logger usage throughout FMark"

[2018-03-22 23:03] ps-george commented on #159
May be better/easier to refer to the excludes as an index into the header list.
e.g.
excludes = [0;2;5;6-9]

[2018-03-22 23:15] ps-george commented on #159
Then you just remove each index number or number range from the list. (after doing the depth filter)

Can turn the header list into (index, headerlist) using a List.mapi and then filter using the index list (if in list then false else true)

[code]

[2018-03-22 23:15] ThunderMikey commented on #159
I have already done most of the parsing

[2018-03-22 23:18] ps-george commented on #159
No worries just thoughts I had on the walk home.

Can be a future improvement to implement both.

[2018-03-23 00:11] ThunderMikey commented on #159
@ymherklotz Is `SEMICOLON` tokenized properly?
Because `%%TOC excludes=[h2]` works, but `%%TOC excludes=[h2;h22]` doesn't. However, multiple header exclusion has passed my parser test for the input,
[code]

It works for
[code]
but not this
[code]

[2018-03-23 00:11] ymherklotz commented on #124
I added back the ?:, as that shouldn't be the problem. There were missing match statements for the html passthrough which should all be added now.

[2018-03-23 00:15] #124 closed

[2018-03-23 10:13] #159 closed

[2018-03-23 10:15] #160 closed

[2018-03-23 22:30] #65 closed

[2019-09-04 08:08] ps-george opened #177 "Tests are not indicative?"
In #175, it passes CI but we aren't sure if it works live.

We should be able to gain a certain amount of confidence that a commit works from whether CI passes or not.

Is CI working?

[2019-09-06 17:07] ymherklotz commented on #177
CI is working: https://travis-ci.org/ymherklotz/FMark

We just need to add a test that parses a 10000 line markdown file for example, hopefully under 1sec.

[2019-09-09 16:50] ps-george commented on #177
Do we test the bundled .js output?

[2019-09-18 14:37] ymherklotz opened #178 "Fix documentation and README"

[2019-09-18 14:37] ymherklotz opened #179 "Clean up Repository"
- [ ] Delete the lock files and update all the dependencies.

[2019-09-18 14:40] ymherklotz opened #180 "Check and update tests"

[2019-09-18 14:40] ymherklotz opened #181 "Check CI infrastructure"

[2019-09-18 14:45] ymherklotz opened #182 "Check usability of Referencing"

[2019-09-18 14:46] ymherklotz opened #183 "Add IEEE References"

[2019-09-18 14:46] ymherklotz opened #184 "Support for page numbers"

[2019-09-18 14:46] ymherklotz opened #185 "Support for page breaks"

[2019-09-18 15:20] ymherklotz opened #186 "Latex backend"

[2019-09-18 15:25] ymherklotz opened #187 "Add support Docker"

[2019-09-18 15:26] ymherklotz opened #188 "Add nix support"

[2019-09-21 15:53] ps-george commented on #177
Does CI still work after switching repo? Is it still at /ymherklotz/FMark? @ymherklotz

[2019-09-21 16:13] ps-george opened #189 "Fix negative numbers in Spreadsheets"
At the moment unary operator binding is not implemented properly, therefore the following workaround is necessary to create negative numbers.

instead of:

|err|
|---|
|=-5+4|

need to put:

|-1|
|---|
|=(0-5)+4|

[2019-09-21 16:20] ps-george opened #190 "Choose where to insert references instead of always being at the end"
Like TOC. e.g.

[code]

If no %% REFS in doc, can default to inserting references at the bottom of the document.

[2019-09-21 19:35] ymherklotz commented on #190
What if you don't want any references printed though? I would probably prefer if you always had to specify `%% REFS` if you want references, as one might have references in the markdown without wanting to print them sometimes?

Let me know what you think though.

[2019-09-21 19:40] ymherklotz commented on #177
Just moved it to https://travis-ci.org/Zestylogic/FMark. Going to fix it in the documentation.

[2019-09-22 10:19] ps-george commented on #190
You're right - I agree with you completely. I'll edit the issue description.

[2019-09-22 10:37] ps-george commented on #177
![image](https://user-images.githubusercontent.com/17267419/65385963-9f78a580-dd35-11e9-94ad-b49af6d21e75.png)

What was the reason that we ignored these 4 tests? Time?

Maybe they will be okay to include after #175 is merged and #179 is done?

[2019-09-22 10:59] ps-george commented on #188
Is this what will allow us to deploy/install e.g. as a .deb package, or something else?

[2019-09-22 15:36] ymherklotz commented on #188
No that is different, it allows us to package with [Nix](https://nixos.org/nix/), which is a completely reproducible dependency manager. It is distro independent unlike .deb, .rpm, PKGBUILDS etc..

[2019-09-22 15:37] ymherklotz commented on #177
One of them is one of mine, which is a broken property test, don't know about the others.

[2019-09-26 17:29] ps-george opened #194 "In-line maths rendering"
`$x$` currently renders as is.

Would be nice to be able to put maths in line, like this: `$x=f(y)$`

And it be rendered.

Why did we make the decision not to support this?

[2019-10-03 12:22] ps-george opened #196 "CLI support for stdin/stdout input"
So we can run fmark without necessarily needing a file, and pipe through fmark.

`cat "README.md" | fmark --std | test.html`

[2021-03-16 17:01] srid opened #198 "Wiki links support"
Would this be in scope for this project, assuming it is to be used as a library to parse Zettelkasten style markdown notes?

A wiki-link looks like `[[Foo bar]]` - which typically semantically links to "Foo bar.md" (somewhere in the directory hierarchy). cf. https://neuron.zettel.page/folgezettel

[2021-03-16 17:02] srid commented on #198
For reference, in the Haskell world, this is implemented as an extension to the markdown parser: https://github.com/jgm/commonmark-hs/blob/master/commonmark-extensions/src/Commonmark/Extensions/Wikilinks.hs